<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5 text-center">All Launches</h1>
      <div class="row">
        <% launches.forEach((launch, index) => { %> <% console.log(launch); %>
        <div class="col col-lg-3">
          <a href="<%=`/launch/${launch.id}` %>">
          <div class="card launch-card">
            <img class="card-img-top" src="/<%= launch.photo %> " caption="Test" />
            </a>
            <div class="card-body">
              <h5 class="card-title text-center"><%= launch.title %></h5>
              <p class="card-text text-center"><%= launch.info %></p>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
