<%- include('partials/head') %>

<body>
  <%- include('partials/nav') %>

  <main class="flex-shrink-0">
    <div class="container">
      <h1 class="text-center mt-5"><%= launch.title %> </h1>
      <div class="row">
        <div class="col-6"><img class ="img-fluid" src="/<%= launch.photo %>"> </div>
        </div>
      <p><%= launch.info %> </p>
      <p>Quantity: <%= launch.quantity %> </p>
      <p>Start Price: <%= launch.start_price %> </p>
      <p>Current Price: <%= launch.current_price %> </p>
      <p>Number of bids: <%= bids.length %></p>
      <p>Start Date: <%= launch.start_date %> </p>
      <p>End Date: <%= launch.end_date %> </p>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Bid History
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div><canvas id="bidSpread"></canvas></div>
        <div class="card card-body">
          <ol>
            <% bids.forEach(bid=> { %> 
              <li><%= bid %></li>
              <% }); %> 
          </ol>
        </div>
      </div>
      
      <form class="entry-form-container" action="<%= `/launch/${launch.id}/bid` %>" method="POST">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="bid">Bid: </label>
              <input class="form-control" name="bid" id="bid" type="number" min="<%= +launch.current_price + 1%>"required />
            </div>
            <button type="submit" class="btn btn-secondary">Submit Bid</button>
          </div>
      </form>
    </div>
  </main>
  <script>
  // === include 'setup' then 'config' above ===
  const labels = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];
const data = {
  labels: labels,
  datasets: [{
    label: 'Bid Scatter',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [0, 10, 5, 2, 20, 30, 45],
  }]
};
const config = {
  type: 'line',
  data: data,
  options: {}
};
  var myChart = new Chart(
    document.getElementById('bidSpread'),
    config
  );
</script>
  <%- include('partials/footer') %>
